# Python 虚拟环境
.venv/

# 音频数据集
data/raw

（已压缩）Gemini-毕业设计_9-419.pdf
.vscode/settings.json
__pycache__/dataset.cpython-311.pyc
__pycache__/model.cpython-311.pyc
__pycache__/search.cpython-311.pyc
.idea/workspace.xml
music_hash.db
